# Java build artifacts
target/
*.class

# IDE-specific files
.idea/
*.iml
*.class
*.log

# MacOS specific files
.DS_Store

# Maven specific files
*.jar
*.war
*.ear

# Logs
logs/
*.log

# Temporary files
*.tmp
*.temp
# Environmental variables
.env
*.properties
application.yml


# Ignore all .jar files
*.jar

# Optionally, exclude specific directories
/target/
/build/