<html>
<tr th:fragment="footer-white-background">
  <td colspan="2">
    <table style="max-width: 640px;border-spacing: 0;" border="0" height="267px" bgcolor="#FFFFFF" width="100%">

      <tr style="padding-top:0" >
<!--        <td style="padding-top: 20px;">-->
<!--          <table style="border-spacing: 0;">-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;              <td style="padding-left: 30px;">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#" style="padding-right: 5px;"><img&ndash;&gt;-->
<!--&lt;!&ndash;                        src="https://s3.us-west-1.amazonaws.com/statics.viditure.apps/telebirr/footer-logo.png"&ndash;&gt;-->
<!--&lt;!&ndash;                        alt="telebirr Logo" title="telebirr Logo"></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--          </table>-->

<!--        </td>-->
        <td align="right" style="padding-right: 30px; padding-top:0;">
          <a th:href="www.example.com" target="_blank"  style="text-decoration: none">
            <img th:src="@{https://s3.us-west-1.amazonaws.com/statics.viditure.apps/telebirr/linkedin_ic.png}"
                 alt="linkedin logo" title="linkedin" style="padding-right: 10px;">
          </a>
          <a th:href="www.example.com" target="_blank"  style="text-decoration: none">
            <img src="https://s3.us-west-1.amazonaws.com/statics.viditure.apps/telebirr/facebook_ic.png"
                 alt="facebook logo" title="facebook" style="padding-right: 10px;">
          </a>
          <a th:href="www.example.com" target="_blank"  style="text-decoration: none"><img
                  src="https://s3.us-west-1.amazonaws.com/statics.viditure.apps/telebirr/twitter_ic.png"
                  alt="twitter logo" title="twitter" style="padding-right: 10px;"></a>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center" style="font-family: 'Trebuchet MS';
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0em;
                text-align: center;
                color: #7F848D;
                padding: 0px;
                margin: 0px;
                text-decoration: none;
                "><a style="text-decoration: none;color:#7F848D" th:href="www.example.com" target="_blank">www.Water@quality.com</a>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center" style="font-family: 'Trebuchet MS';
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0em;
                text-align: center;
                color: #7F848D;
                padding: 0px;
                margin: 0px;
                "><a style="text-decoration: none;color:#7F848D" th:href="www.example.com"  target="_blank">Warer@Quality.com</a>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center" style="font-family: 'Trebuchet MS';
                vertical-align: top;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0em;
                text-align: center;
                color: #7F848D;
                padding: 0px;
                margin: 0px;
                ">+11 232 231 2903
        </td>
      </tr>
<!--      <tr>-->
<!--        <td colspan="2" align="center" style="font-family: 'Trebuchet MS';-->
<!--                font-size: 14px;-->
<!--                font-weight: 400;-->
<!--                line-height: 24px;-->
<!--                letter-spacing: 0em;-->
<!--                text-align: center;-->
<!--                color: #7F848D;-->
<!--                "> <span >test</span> <br> <span>2</span>-->
<!--        </td>-->
<!--      </tr>-->
      <tr>
        <td align="center" colspan="2">
          <table style="border-spacing: 0;">
            <tr>
              <td style="padding: 10px;font-family: 'Trebuchet MS';
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 0em;
                        text-align: center;
                        "><a style="color: #1CAB4D" th:href="www.example.com" target="_blank">Privacy Policy</a></td>
              <td>|</td>
              <td style="padding: 10px;font-family: 'Trebuchet MS';
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 0em;
                        text-align: center;
                        "><a style="color: #1CAB4D" th:href="www.example.com" target="_blank">Terms & Conditions</a></td>
            </tr>
          </table>
        </td>
      </tr>

    </table>
  </td>
</tr>


</body>
</html>