<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Telesign</title>
    <style>
        /* Mobile Styles */
        @media only screen and (max-width: 640px) {
            table {
                width: 100% !important;
            }
        }
    </style>
</head>

<body style="margin: 0; padding: 0;background-color: #F0F0F0;" bgcolor="#F0F0F0">
<center>
    <table border="0" style="height: 702px; width: 640px; ;border-spacing: 0;background-color:#FFFFFF;"
           bgcolor="#FFFFFF">
        <tr>
            <td align="center" style="padding-top: 0px;margin: 0px;height: 81px;">
                <table border="0"
                       style="background: linear-gradient(to right, #458AC4, #125B2B),
                      url(https://s3.us-west-1.amazonaws.com/statics.viditure.apps/telebirr/email_bg.png);
                      background-size: cover;
                      background-blend-mode: overlay;
                      width: 100%; height: 154px; border-spacing: 0; width: 640px;">
                    <tr>
                        <td style="width: 320px;padding: 0;" align="center">
                            <img src="https://s3.us-west-1.amazonaws.com/statics.viditure.apps/telebirr/brand-ic.png"
                                 alt="telebirr logo">
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:'Trebuchet MS';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 32px;
                            line-height: 43px;
                            text-align: center;
                            color: #FFFFFF;
                            margin:0;vertical-align: baseline;" align="center">Welcome to WQPS
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding-top: 30px; vertical-align: baseline;">
                <table border="0" style="border-spacing: 0;margin: 0px;">
                    <tr>
                        <td align="center" style="padding: 0;">
                            <table style="width: 527px;" border="0">
                                <tr>
                                    <td align="center">
                                        <p style="font-family: 'Trebuchet MS';
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 28px;
                            letter-spacing: 0em;
                            margin: 0px;
                            ">
                                            <span>Hi <span th:text="${name}"> </span>,<br>Thank you choosing water quality system. </span>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
<!--                    <tr>-->
<!--                        <td align="center" style="padding: 20px;">-->
<!--                            <a th:href="${login_url}" target="_blank" style="text-decoration: none;background: #1CAB4D;-->
<!--                            padding: 20px 40px;-->
<!--                            border-radius: 10px;-->
<!--                            font-family: 'Trebuchet MS';-->
<!--                            font-size: 16px;-->
<!--                            font-weight: 600;-->
<!--                            line-height: 19px;-->
<!--                            letter-spacing: 0em;-->
<!--                            color:#FFFFFF;display:inline-block; "> Get Started </a>-->
<!--                        </td>-->
<!--                    </tr>-->
                    <tr>
                        <td align="center">
                            <p style="font-family: 'Trebuchet MS';
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #7F848D;
                            ">
                                If you encounter any issues, please contact our <a  style="color: #1CAB4D" target="_blank">Support Center</a>.
                            </p>
                        </td>
                    </tr>

                </table>
            </td>

        </tr>
        <tr>
            <td>
                <hr width="100%" style="max-width:640px; color: #C5C7D3;">
            </td>
        </tr>
        <tr th:replace="fragments :: footer-white-background">

        </tr>

    </table>
</center>
</body>

</html>