<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Telesign</title>
    <style>
        /* Mobile Styles */
        @media only screen and (max-width: 640px) {
            table {
                width: 100% !important;
            }
        }
    </style>
</head>

<body style="margin: 0; padding: 0;background-color: #F0F0F0;" bgcolor="#F0F0F0">
<center>
    <table border="0" style="height: 702px; width: 640px; ;border-spacing: 0;background-color:#FFFFFF;"
           bgcolor="#FFFFFF">
        <tr>
            <td align="center" style="padding-top: 0px;margin: 0px;height: 81px;">
                <table border="0"
                       style="width: 100%; height: 154px; border-spacing: 0; width: 640px;">
                    <tr>
                        <td style="width: 320px;padding: 0;" align="center">
                            <img src="https://drive.google.com/uc?export=view&id=1i5hEPx62Gl4-BhtZIgpW6zmkVu5DCwJP"
                                 alt="wq logo">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding-top: 30px; vertical-align: baseline;">
                <table border="0" style="border-spacing: 0;margin: 0px;">
                    <tr>
                        <td align="center" style="padding: 0;">
                            <table style="width: 527px;" border="0">
                                <tr>
                                    <td align="center">
                                        <p style="font-family: 'Trebuchet MS';
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 28px;
                            letter-spacing: 0em;
                            margin: 0px;
                            ">
                                            <span>Hi <span th:text="${user?.firstName}"> Lester </span> <span th:text="${user?.lastName}">Anderson</span>, thank you choosing Aquainsight.<br/>Your account has been activated. </span>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px;">
                            <a th:href="${login_url}" target="_blank" style="text-decoration: none;background: #102D4D;
                            padding: 20px 40px;
                            border-radius: 10px;
                            font-family: 'Trebuchet MS';
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 19px;
                            letter-spacing: 0em;
                            color:#FFFFFF;display:inline-block; "> Get Started </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <p style="font-family: 'Trebuchet MS';
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #7F848D;
                            ">
                                If you have any trouble feel free to contact our <a  style="color: #102D4D" th:href="${contactInfo.supportCenter}" target="_blank">Support Center</a>.
                            </p>
                        </td>
                    </tr>

                </table>
            </td>

        </tr>
        <tr>
            <td>
                <hr width="100%" style="max-width:640px; color: #C5C7D3;">
            </td>
        </tr>
        <tr th:replace="emails/fragments :: footer-white-background">

        </tr>

    </table>
</center>
</body>

</html>